
<div class="container">
  <h1>Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <h2 class="card-description"> <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </h2>
        </div>
      </div>
    <% end %>

      </div>
  </div>
</div>

<%= link_to "Create a cocktail", new_cocktail_path %>
